{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/require-default-props": "off",
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
}
